name: Update nvfetcher

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 5 * * *'  # Daily at 5 AM UTC
  push:
    branches:
      - main
    paths:
      - pkgs/nvfetcher.toml

permissions:
  contents: read

jobs:
  update-nvfetcher:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - name: Set up Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13

      - name: Run nvfetcher
        id: run-nvfetcher
        run: |
          cd pkgs
          {
            echo 'changes<<EOF'
            nix-shell -p nvfetcher --command 'nvfetcher' | sed -n '/Changes/,/$!d/p'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

      - name: Update flake.lock for nvfetcher sources
        run: nix flake update

      - name: Validate updated packages
        run: nix flake check --no-build

      - name: Generate Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        id: app-token
        with:
          app-id: ${{ secrets.CARPENIKE_APP_ID }}
          private-key: ${{ secrets.CARPENIKE_APP_PRIVATE_KEY }}

      - name: Create Pull Request
        id: create-pull-request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: nvfetcher/deps
          title: "chore(deps): Update packages managed by nvfetcher"
          commit-message: "chore(deps): Update packages managed by nvfetcher"
          body: |
            ## ${{ steps.run-nvfetcher.outputs.changes }}
          add-paths: |
            pkgs/**
            flake.lock
          delete-branch: true
